body {
	background-color: #f6f6f6;
	font-family: Lato;
}

p {
	font-size: 0.9em;
}

p.sub {
	color: #999;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 300;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-fixed-top .navbar-inner {
		padding: 5px 20px;
	}
}

.date {
	display: none;
}

.page-sub-nav {
	background-color: #333;
	-moz-box-shadow: inset 0 0 10px #111;
	-webkit-box-shadow: inset 0 0 10px #111;
	box-shadow: inset 0 0 10px #111;
	color: #fff;
}

.page-sub-nav ul {
	text-align: center;
	margin-bottom: 80px;
}

.page-sub-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-top: 10px;
}

.page-sub-nav ul li a {
	display: block;
	border-radius: 6px;
	padding: 15px 10px 5px;
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
}

.page-sub-nav ul li a.active,
.page-sub-nav ul li a:hover {
	background-color: #555;
	text-decoration: none;
}

.knob {
	text-align: center;
}

.page {
	width: 980px;
	margin: auto;
	background-color: #FFF;
	border-radius: 6px;
	padding: 20px 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	margin-top: -70px;
}

.page .header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

@media (min-width: 1200px) {
	.page {
		width: 1210px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.page {
		width: 764px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}

	.page {
		width: 100%;
	}

	.page-container {
	    padding: 0 20px;
	}
}

.filters input[type="checkbox"] {
	float: left;
	margin-right: 10px;
}

footer {
	padding: 20px 0;
	color: #999;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	color: #333;
	text-decoration: none;
}

.message-sidebar {
	border-right: 1px solid #eee;
	margin: -20px;
	margin-right: 0;
}

@media (min-width: 768px) {
	.message-sidebar {
		overflow: auto;
		height: 700px;
	}
}

.activity a.activity-preview .avatar {
	margin-left: -40px;
	margin-bottom: -40px;
	height: 40px;
	position: relative;
	top: 15px;
	right: 20px;
	float: left;
}

.activity a.activity-preview,
.message-sidebar a.message-preview {
	display: block;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	text-decoration: none;
}

.activity a.activity-preview {
	padding: 10px 10px 15px 70px;
}

.activity a.new,
.message-sidebar a.new {
	background-color: #fff;
}

.activity a.active,
.activity a:hover,
.message-sidebar a.active,
.message-sidebar a:hover {
	background-color: #008dcd;
	color: #fff;
}

.activity a.activity-preview p,
.activity a.activity-preview abbr,
.activity a.activity-preview h5 {
	color: #333;
}

.message-sidebar a.message-preview p,
.message-sidebar a.message-preview abbr,
.message-sidebar a.message-preview h5 {
	color: #999;
}

.activity a:hover p,
.activity a:hover abbr,
.activity a:hover h5,
.message-sidebar a.active p,
.message-sidebar a.active abbr,
.message-sidebar a.active h5,
.message-sidebar a:hover p,
.message-sidebar a:hover abbr,
.message-sidebar a:hover h5 {
	color: #eee;
}

.activity a.activity-preview h4,
.message-sidebar a.message-preview h4 {
	text-transform: none;
	font-weight: 400;
}

.dropdown-menu .activity a.activity-preview {
	padding: 5px 10px 5px 70px;
}

.dropdown-menu .activity a.activity-preview:last-child {
	border-bottom: none;
}

.messages h4 {
	text-transform: none;
	font-weight: 400;
}

.message-sidebar .progress {
	margin-bottom: 10px;
	border-radius: 4px;
	height: 8px;
}

.page p.header_bottom {
	margin-bottom: 20px;
}

.messages .message {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.messages .message-body {
	padding-left: 80px;
}

.messages .message-body h5 {
	font-weight: 300;
}
